footer {
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 5px 30px;
}

.row ul {
  padding: 0;
  margin: 0;
}

.row ul li {
  list-style: none;
}

.copyright {
  color: rgb(158, 163, 167);
}

@media (max-width:768px){
  footer{
    display: none;
  }
}